#aliyun_main{
    background-color: white;
    min-height: 100vh;
}

#aliyun_main nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    font-size: smaller;
}

#aliyun_main nav ul img{
    width: 200px;
}

#aliyun_main nav ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

#aliyun_main nav ul li a:hover{
    text-decoration: underline;
}

#aliyun_main nav ul li a:not(:last-child){
    padding: 0rem 1rem;
    border: 1px solid silver;
    border-width: 0px 1px 0px 0px;
}

#aliyun_main nav ul li select{
    cursor: pointer;
    border: none;
    padding-left: 1rem;
}


#aliyun_form_container{
    background-color: rgb(230, 237, 253);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem 0rem;
}

#ali_side_bar{
    width: 400px;
} 

#aliyun_form_container form{
    width: 25%;
    min-height: 50vh;
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 3px 1px silver;
    border-radius: 5px;
    font-size: smaller;
}

#aliyun_form_container form h2{
    font-weight: 500;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
    color: grey;
    margin-bottom: 1.5rem;
    padding-bottom: 0.2rem;
}

.ali_inputs_content{
    border: 1px solid silver;
    padding: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

.ali_inputs_content:hover{
    border-color: #ff9000;
}

.ali_inputs_content input{
    border: none;
    width: 100%;
}

.ali_inputs_content img{
    width: 18px;
    cursor: pointer;
}

#aliyun_form_container form button{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #ff9000;
    color: white;
    padding: 0.5rem 0.2rem;
    font-size: large;
    margin: 1rem 0rem;
}

#aliyun_form_container form a{
    color: #08c;
}

#ali_form_mid{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}

#ali_form_last{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

#ali_form_last span{
    color: grey;
}

#aliyun_main footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: grey;
    font-size: 0.8rem;
    margin: 1rem 0.1rem;
}

/*  */
@media (max-width:1030px) {
    #ali_side_bar{
        width: 350px;
    } 
    
    #aliyun_form_container form{
        width: 35%;
        min-height: 25vh;
    }
}

@media (max-width:900px) {
    #ali_side_bar{
        width: 300px;
    }

    #aliyun_form_container form{
        width: 40%;
    }

    #aliyun_main footer{
        gap: 0.5rem;
        font-size: 0.6rem;
    }
}

@media (max-width:800px) {
    #ali_side_bar{
        width: 250px;
    }

    #aliyun_form_container form{
        width: 45%;
    }
}


@media (max-width:650px) {
    #aliyun_main nav ul{
        font-size: 0.7rem;
    }

    #aliyun_main nav ul li a:not(:last-child){
        padding: 0rem 0.5rem;
    }
    
    #aliyun_main nav ul li select{
        padding-left: 0.5rem;
    }

    #ali_side_bar{
        width: 200px;
    }

    #aliyun_form_container form{
        width: 60%;
    }
}

@media (max-width:500px) {
    #aliyun_main nav ul{
        justify-content: left;
    }

    #aliyun_main nav ul li{
        display: none;
    }

    #aliyun_main nav ul img{
        width: 150px;
    }

    #ali_side_bar{
        display: none;
    }

    #aliyun_form_container{
        justify-content: center;
        padding: 4rem 0rem;
    }

    #aliyun_form_container form{
        width: 80%;
    }

    #aliyun_main footer{
        display: none;
    }
}

@media (max-width:400px) {
    #aliyun_form_container form{
        width: 90%;
    }
}

@media (max-width:360px) {
    #aliyun_form_container form{
        width: 95%;
    }
}