#cn4e_main_container{
    background-color: white;
    min-height: 100vh;
}

#cn4e_main_container a:hover{
    color: red;
}

#cn4e_nav{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    color: grey;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border: 1px solid silver;
    border-width: 0px 0px 1px 0px;
}

#cn4e_form_section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    min-height: 70vh;
    padding: 5rem 0.5rem;
}

#cn4_side_img{
    width: 400px;
}

#cn4e_form{
    width: 25%;
    min-height: 50vh;
}

#cn4e_form p{
    font-size: large;
}

.cn4e_inputs{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    gap: 0.3rem;
}

.cn4e_inputs input{
    width: 100%;
    padding: 0.5rem 0.3rem;
    border: 1px solid silver;
    border-radius: 3px;
}

.cn4e_inputs input:focus{
    border-color: skyblue !important;
}

#btn_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem;
}

#btn_container button{
    background-color: whitesmoke;
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
    border: 1px solid silver;
    border-radius: 5px;
}

#btn_container button:hover{
    background-color: silver;
}

#btn_container a{
    font-size: smaller;
    color: grey;
}

#cn4e_foot_link{
    font-size: smaller;
    margin: 1rem 0rem;
    color: grey;
}

#cn4e_main_container footer{
    display: flex;
    align-items: center;
    margin: 1rem 10rem;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: grey;
    border: 1px solid silver;
    border-width: 1px 0px 0px 0px;
    padding: 1rem 0.1rem;
}

/*  */

@media (max-width:1030px) {
    #cn4e_form_section{
        gap: 2rem;
        min-height: 70vh;
        padding: 5rem 0.5rem;
    }
    
    #cn4e_form{
        width: 40%;
        min-height: 30vh;
    }
}

@media (max-width:900px) {
    #cn4_side_img{
        width: 300px;
    }
    
    #cn4e_form{
        width: 50%;
    }
}

@media (max-width:650px) {
    #cn4e_nav{
        gap: 0.5rem;
        /* padding: 0.5rem 1rem; */
        font-size: 0.7rem;
    }

    #cn4_side_img{
        width: 250px;
    }
    
    #cn4e_form{
        width: 60%;
    }

    #cn4e_main_container footer{
        margin: 1rem 2rem;
        font-size: 0.7rem;
    }
}

@media (max-width:500px) {
    #cn4_side_img{
        display: none;
    }
    
    #cn4e_form{
        width: 80%;
    }

    #cn4e_main_container footer{
        margin: 1rem 0.5rem;
    }
}

@media (max-width:400px) {
    #cn4e_form{
        width: 90%;
    }

    #cn4e_main_container footer{
        font-size: 0.5rem;
    }
}

@media (max-width:360px) {
    #cn4e_form{
        width: 100%;
    }
}