#coremail_main_container{
    background-color: white;
    min-height: 100vh;
}

#core_nav_mail ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0rem;
}

#core_nav_mail ul li{
    list-style: none;
    font-size: smaller;
    color: grey;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#core_nav_mail ul li a:hover{
    color: black;
}

#core_form_section{
    background-color: #3598db;
    display: flex;
    align-items: center;
    justify-content: center;
}

#core_side_bar{
    display: flex;
    align-items: center;
    position: relative;
}

#core_side_bar button{
    background-color: white;
    color: #3598db;
    padding: 0.6rem 4rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
}

#core_form_section form{
    width: 20%;
    min-height: 65vh;
    background-color: #cce5f6;
    font-size: smaller;
    position: relative;
}

#core_form_section form ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#core_form_section form ul li{
    list-style: none;
    padding: 1rem 0rem;
    text-align: center;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

#core_form_section form ul li:last-child{
    background-color: #e0eff9;
    color: grey;
}

#core_lang_selector{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

#core_lang_selector select{
    background-color: transparent;
    border: none;
}

#core_mail_form aside{
    padding: 0rem 1.5rem;
}

.core_inputs{
    padding: 0.6rem 0.5rem;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: white;
    margin: 0.5rem 0rem;
    border-radius: 5px;
}

.core_inputs input{
    width: 100%;
    border: none;
}

#core_checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
}

#core_checkbox p{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

#core_mail_form button{
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0rem 5rem 0rem;
    padding: 0.5rem 0.1rem;
    font-size: large;
    font-weight: 500;
    background-color: rgba(53, 152, 219, 0.9);
    color: white;
    border-radius: 5px;
}

#core_mail_form button:hover{
    background-color: rgba(53, 152, 219, 1);
}

#core_form_foot{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #E6F2fb;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    color: grey;
}

#core_form_foot span, #core_form_foot img{
    cursor: pointer;
}

/*  */
#coremail_mid_section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 0.5rem;
}

#coremail_mid_section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: gray;
    gap: 1rem;
}

#coremail_mid_section img{
    width: 45px;
}

#coremail_main_container footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    background-color: #e5e5e5;
    padding: 1rem 0.1rem;
    font-size: 0.8rem;
}

#coremail_main_container footer ul li{
    padding: 0rem 0.5rem;
}

#coremail_main_container footer ul li:not(:last-child){
    border: 1px solid black;
    border-width: 0px 1px 0px 0px;
}

#coremail_main_container footer ul li:hover{
    color: black;
    cursor: pointer;
}

/*  */

@media (max-width:1030px) {
    #core_form_section{
        gap: 1rem;
        justify-content: space-between;
        padding: 0rem 1rem;
    }

    #core_side_bar{
        width: 40%;
    }

    #core_form_section form{
        width: 40%;
        min-height: 35vh;
    }

    #coremail_mid_section{
        padding: 3rem 0.5rem;
    }
}

@media (max-width:650px) {
    #core_form_section{
        gap: 0rem;
        justify-content: center;
        padding: 0rem 0.5rem;
    }

    #core_side_bar{
        width: 0%;
        display: none;
    }

    #core_form_section form{
        width: 60%;
        min-height: 45vh;
    }

    #coremail_mid_section{
        padding: 3rem 0.5rem;
        font-size: 0.7rem;
        gap: 1rem;
    }

    #coremail_mid_section img{
        width: 40px;
    }

    #coremail_main_container footer ul{
        font-size: 0.7rem;
        flex-wrap: wrap;
    }
}

@media (max-width:500px) {
    #core_nav_mail ul{
        justify-content: space-between;
        padding: 1.5rem 0.5rem;
    }

    #core_nav_mail ul li{
        font-size: 0.7rem;
        gap: 0.5rem;
    }

    #core_form_section form{
        width: 80%;
        min-height: 50vh;
    }

    #coremail_mid_section{
        font-size: 0.6rem;
        flex-wrap: wrap;
    }

    #coremail_mid_section img{
        width: 35px;
    }
}

@media (max-width:400px) {
    #core_nav_mail ul li{
        display: none;
    }

    #core_form_section form{
        width: 90%;
        min-height: 60vh;
    }

    #coremail_mid_section{
        padding: 2rem 0.5rem;
    }

    #coremail_mid_section img{
        width: 35px;
    }
}

@media (max-width:360px) {
    #core_form_section form{
        width: 100%;
    }

    #coremail_mid_section{
        padding: 1rem 0.5rem;
    }
}