#dns_cn_main{
    background-color: white;
    min-height: 100vh;
}

#dns_cn_nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1399e2;
    color: white;
    padding: 1rem 0.2rem;
}

#dns_cn_nav ul img{
    width: 150px;
}

#dns_cn_nav ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: smaller;
}

#dns_cn_nav ul li:first-child{
    font-size: large;
}

#dns_cn_nav ul li a:hover{
    color: red;
}

#dns_cn_form_container{
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 10rem;
}

#dns_cn_side_bar{
    width: 50%;
    overflow: hidden;
}

#dns_cn_side_bar img{
    animation: slideSideBar 1s linear;
}

#dns_cn_form{
    width: 35%;
    box-shadow: 0px 0px 3px silver;
    background-color: white;
    margin-left: 1rem;
    min-height: 50vh;
}

#dns_cn_form aside{
    padding: 0.5rem 1rem;
}

#dns_cn_form h3{
    background-color: #0e89cc;
    color: white;
    width: 50%;
    padding: 0.2rem 0.1rem 0.5rem 2rem;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: -5px -10px 0px 3px #0e89cc;
}

#dns_cn_form ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dns_cn_form ul li{
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
    border: 2px solid silver;
    border-width: 0px 0px 2px 0px;
    cursor: pointer;
}

#dns_cn_form ul li:first-child{
    border-color: #0e89cc;
}

.dns_cn_inputs{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
    border: 1px solid silver;
    padding: 0.5rem;
}

.dns_cn_inputs input{
    width: 100%;
    border: none;
}

.dns_cn_inputs img{
    height: 20px;
}

#dns_cn_form button{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.1rem;
    background-color: #0e89cc;
    color: white;
    margin: 1rem 0rem;
}

#dns_cn_form button:hover{
    background-color: #1399e2;
}

#dns_cn_form_mid{
    text-align: right;
    color: red;
    font-size: smaller;
}

#dns_cn_from_foot{
    font-size: smaller;
    margin: 1rem 0rem;
    color: grey;
}

#dns_cn_from_foot span{
    color: red;
}

#dns_cn_main footer{
    margin: 5rem 0rem 1rem 0rem;
    font-size: small;
    color: grey;
}

#dns_cn_main footer ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem 0rem;
}

#dns_cn_main footer ul li img{
    height: 30px;
    cursor: pointer;
}


/*  */
@keyframes slideSideBar {
    from{
        transform: translateX(100%);
        opacity: 0;
    }

    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

/*  */
@media (max-width:1030px) {
    #dns_cn_form_container{
        padding: 4rem 5rem;
    }

    #dns_cn_side_bar{
        width: 60%;
    }
    
    #dns_cn_form{
        width: 40%;
        /* margin-left: 1rem; */
        min-height: 30vh;
    }
}

@media (max-width:900px) {

    #dns_cn_form_container{
        padding: 4rem 0.5rem;
    }

    #dns_cn_form{
        margin-left: 0.5rem;
    }
}

@media (max-width:650px) {
    #dns_cn_nav ul{
        justify-content: space-between;
        padding: 1rem 0.5rem;
    }
    
    #dns_cn_nav ul img{
        width: 120px;
    }
    
    #dns_cn_nav ul li{
        gap: 0.2rem;
        font-size: 0.6rem;
    }
    
    #dns_cn_nav ul li:first-child{
        font-size: 1rem;
    }

    #dns_cn_form_container{
        padding: 4rem 0.5rem;
    }

    #dns_cn_side_bar{
        display: none;
    }

    #dns_cn_form{
        width: 60%;
        margin-left: 0rem;
    }

    #dns_cn_main footer{
        margin: 3rem 0rem 1rem 0rem;
        font-size: 0.6rem;
    }

    #dns_cn_main footer ul li{
        flex-wrap: wrap;
    }
    
    #dns_cn_main footer ul li img{
        height: 25px;
    }
}

@media (max-width:500px) {
    #dns_cn_nav ul li:last-child{
        display: none;
    }

    #dns_cn_form_container{
        padding: 4rem 0.5rem;
    }

    #dns_cn_side_bar{
        display: none;
    }

    #dns_cn_form{
        width: 80%;
    }

    #dns_cn_main footer{
        margin: 3rem 0rem 1rem 0rem;
        font-size: 0.6rem;
    }

    #dns_cn_main footer ul li{
        flex-wrap: wrap;
    }
    
    #dns_cn_main footer ul li img{
        height: 25px;
    }
}

@media (max-width:400px) {
    #dns_cn_form aside{
        padding: 0.5rem;
    }

    #dns_cn_form{
        width: 90%;
    }

    #dns_cn_main footer{
        font-size: 0.5rem;
    }
    
    #dns_cn_main footer ul li img{
        height: 20px;
    }

    #dns_cn_form_mid, #dns_cn_from_foot{
        font-size: 0.7rem;
    }
}

@media (max-width:360px) {
    #dns_cn_form{
        width: 100%;
    }

    #dns_cn_main footer{
        display: none;
    }
}