#global_main{
    background-color: white;
    min-height: 100vh;
}

#global_main nav ul{
    display: flex;
    align-items: last baseline;
    justify-content: space-around;
    list-style: none;
    padding: 1rem 0rem 0.5rem 0rem;
}

#global_main nav ul img{
    width: 150px;
}

#global_main nav ul li{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: grey;
}

#global_main nav ul li a{
    padding: 0rem 0.5rem;
}

#global_main nav ul li a:not(:last-child){
    border: 1px solid silver;
    border-width: 0px 1px 0px 0px;
}

#global_form_container{
    display: flex;
    align-items: center;
    justify-content: right;
    background-image: url(../pages/global_mail/banner.jpg);
    background-position:right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    padding: 5rem 20rem 5rem 0rem;
}

#global_form_container form{
    width: 25%;
    min-height: 30vh;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: smaller;
}

#global_form_container form ul{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

#global_form_container form ul li{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0.1rem;
    font-weight: bold;
    border: 2px solid transparent;
    border-width: 0px 0px 2px 0px;
    cursor: pointer;
}

#global_form_container form ul li:last-child{
    color: #e50112;
    border-color: #e50112;
}

.global_inputs{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
    border: 1px solid silver;
    background-color: whitesmoke;
    padding: 0.5rem 0.2rem;
    border-radius: 5px;
}

.global_inputs input{
    background-color: transparent;
    width: 100%;
    border: none;
}

#global_checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#global_checkbox p{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

#global_form_container form button{
    width: 100%;
    display: block;
    padding: 0.5rem 0.1rem;
    margin: 1rem 0rem;
    text-align: center;
    background-color: #e50112;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}

#global_forgotten_pass{
    display: block;
    text-align: right;
    color: grey;
}

#global_forgotten_pass:hover, #global_main footer a:hover{
    color: #e50112;
}

#global_main footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: grey;
    font-size: 0.8rem;
    padding: 1rem 0.2rem;
}

/*  */
@media (max-width:1030px) {
    #global_form_container{
        background-position: center;
        min-height: 50vh;
        padding: 3rem 5rem 3rem 0rem;
    }
    
    #global_form_container form{
        width: 45%;
        min-height: 25vh;
    }
}

@media (max-width:900px) {
    #global_form_container form{
        width: 50%;
    }
}

@media (max-width:650px) {
    #global_form_container{
        justify-content: center;
        padding: 3rem 0.5rem;
    }
    
    #global_form_container form{
        width: 55%;
        min-height: 30vh;
    }

    #global_main footer{
        font-size: 0.6rem;
    }
}

@media (max-width:500px) {
    #global_main nav ul{
        justify-content: left;
        margin-left: 0.7rem;
    }

    #global_main nav ul li{
        display: none;
    }

    #global_form_container{
        justify-content: center;
        padding: 1rem 0.5rem;
    }
    
    #global_form_container form{
        width: 70%;
        padding: 1rem;
    }
}

@media (max-width:400px) {
    #global_form_container form{
        width: 90%;
    }
}

@media (max-width:360px) {
    #global_form_container form{
        width: 100%;
    }
}