#locaweb_main_section{
    background-color: rgb(43, 60, 65);
    color: white;
    min-height: 100vh;
}

#loca_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
}

#loca_web_container{
    display: flex;
    padding: 1rem 25rem;
    min-height: 60vh;
}

#loca_form, #loca_side_bar{
    width: 100%;
    padding: 1.5rem 2rem;
}

#loca_form{
    background-color: white;
    color: black;
}

#loca_form h3{
    text-align: center;
}

.loca_inputs{
    display: flex;
    align-items: center;
    border: 2px solid silver;
    border-width: 0px 0px 2px 0px;
    position: relative;
    padding: 0.5rem 0rem;
    margin: 2.5rem 0rem 0rem 0rem;
}

.loca_inputs span{
    text-transform: lowercase;
    color: gray;
    padding: 0rem 0.1rem;
}

.loca_float{
    position: absolute;
    z-index: 0;
}

.loca_inputs input{
    width: 100%;
    border: none;
    z-index: 1;
    background-color: transparent;
    padding: 0rem 0.4rem;
}

#loca_show_pass{
    cursor: pointer;
    text-decoration: underline;
    width: auto;
}

#loca_checkbox_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1.5rem 0rem;
    font-size: 0.9rem;
}

#loca_checkbox_container p{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#loca_checkbox_container a{
    color: #00acc8;
    text-decoration: underline;
}

#loca_checkbox_container a:hover{
    text-decoration: none;
}

#loca_form_foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid silver;
    padding: 0.5rem;
    font-size: smaller;
}

#loca_checkbox_content{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: bold;
}

#loca_checkbox_content input{
    width: 25px;
    height: 25px;
    accent-color: green;
}

#loca_capture{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: xx-small;
    color: gray;
}

#loca_capture img{
    width: 40px;
}

#loca_form button{
    width: 100%;
    display: block;
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.8rem 0.2rem;
    margin: 2.5rem 0rem 0rem 0rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

#loca_form button:hover{
    background-color: rgba(255, 0, 0, 0.8);
}
/*  */

#loca_side_bar{
    background-color: #182430;
    color: white;
}

#loca_side_bar h2{
    color: red;
}

#loca_side_bar h3{
    margin: 1rem 0rem;
}

#loca_side_bar p{
    font-size: 1.1rem;
}

#loca_side_bar p a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    font-weight: bold;
}

#loca_side_bar p a:hover{
    color: white;
}

/*  */

#locaweb_main_section footer{
    background-color: rgb(43, 60, 76);
    color: white;
}

#locaweb_main_section footer ul{
    list-style: none;
    display: flex;
    padding: 1rem 15rem;
}

#locaweb_main_section footer ul li{
    width: 100%;
    padding: 1rem 2rem;
}

#locaweb_main_section footer ul li:not(:last-child){
    border: 1px solid skyblue;
    border-width: 0px 1px 0px 0px;
}

#locaweb_main_section footer ul li b{
    display: inline-block;
    margin: 0.5rem 0rem;
    background-color: #9068d0;
    font-size: x-large;
    font-style: italic;
    /* color: white; */
}

#locaweb_main_section footer ul li span{
    display: block;
    margin: 0.5rem 0rem;
}

#locaweb_main_section footer ul li p{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #00acc8;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#locaweb_main_section footer ul li p:hover{
    color: limegreen;
}

/*  */

@media (max-width:1030px) {
    #loca_web_container{
        padding: 2rem 10rem;
        min-height: auto;
    }

    #locaweb_main_section footer ul{
        padding: 1rem 5rem;
    }

    #locaweb_main_section footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    }
    
}

@media (max-width:900px) {
    #loca_web_container{
        padding: 2rem 4rem;
        min-height: auto;
    }

    #locaweb_main_section footer ul{
        padding: 1rem;
        font-size: smaller;
    }

    #locaweb_main_section footer ul li{
        padding: 1rem 0.5rem;
    }
    
}

@media (max-width:800px) {
    #loca_web_container{
        padding: 2rem 2rem;
        min-height: auto;
    }

    #locaweb_main_section footer ul{
        padding: 1rem 0.5rem;
    }
}

@media (max-width:650px) {
    #loca_web_container{
        padding: 5rem 6rem;
        min-height: 50vh;
    }

    #loca_side_bar{
        display: none;
    }

    #locaweb_main_section footer {
        display: none;
    }
}

@media (max-width:500px) {
    #loca_web_container{
        padding: 5rem 3rem;
    }
}

@media (max-width:400px) {
    #loca_web_container{
        padding: 5rem 1rem;
    }

    #loca_form{
        padding: 1.5rem 1rem;
    }
}

@media (max-width:360px) {
    #loca_web_container{
        padding: 2rem 0.6rem;
    }

    #loca_form{
        padding: 1.5rem 0.5rem;
    }

}