#netease_container{
    background-color: whitesmoke;
    min-height: 100vh;
    padding: 1rem 2rem;
    position: relative;
}

#netease_container nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: grey;
}

#logo_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#netease_container nav ul img{
    width: 150px;
}

#netease_container nav ul li{
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#netease_main{
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0rem 10rem;
    gap: 1rem;
}

#netease_sider_bar{
    width: 60%;
}

#netease_sider_bar img{
    width: 100%;
}

#netease_main form{
    width: 35%;
    background-color: white;
    min-height: 60vh;
    box-shadow: 0px 0px 2px silver;
    border-radius: 10px;
    position: relative;
}

#netease_qr_img{
    float: right;
    width: 80px;
}

#netease_form h2{
    text-align: center;
    margin: 2rem 0rem 0rem 0rem;
}

#netease_form_filed{
    padding: 1rem 2rem;
}

#netease_form_filed aside div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid silver;
    padding: 0.8rem 0.5rem;
    margin: 1rem 0rem;
    border-radius: 5px;
    color: grey;
}

#netease_form_filed aside div input{
    width: 100%;
    border: none;
}

#netease_form_filed aside div img{
    width: 20px;
    cursor: pointer;
}

#netease_box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#netease_box1 span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#netease_form_filed button{
    width: 100%;
    display: block;
    text-align: center;
    font-size: larger;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem 0rem;
}

#netease_form_filed button:hover{
    opacity: 0.9;
}

#net_form_mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: smaller;
    
}

#net_form_foot{
    text-align: center;
    width: 100%;
    bottom: 1rem;
    font-size: smaller;
    margin-top: 4rem;
}

/*  */

#netease_container footer{
    text-align: center;
    font-size: smaller;
    color: grey;
}

#netease_container footer ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0rem;
}

#netease_container footer ul li a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#netease_container #last_img{
    position: absolute;
    bottom: 1rem;
}

/*  */

@media (max-width:1030px) {
    #netease_container nav ul li{
        font-size: 0.8rem;
        gap: 0.5rem;
    }

    #netease_main{
        height: 70vh;
        background-size: contain;
        padding: 0rem 1rem;
        gap: 0rem;
    }

    #netease_main form{
        width: 45%;
        min-height: 30vh;
    }

    #netease_container footer{
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1rem;
        font-size: 0.8rem;
    }
    
    #netease_container footer ul li{
        gap: 0.7rem;
        margin: 1rem 0rem;
    }
}

@media (max-width:900px) {
    #netease_container{
        padding: 1rem 0.5rem;
    }

    #netease_container nav ul li{
        display: none;
    }

    #netease_container nav ul img{
        width: 120px;
        margin: 1rem;
    }

    #netease_main{
        height: 70vh;
        background-size: contain;
        padding: 0rem 1rem;
        gap: 0rem;
    }

    #netease_main form{
        width: 50%;
        min-height: 35vh;
    }

    #netease_form_filed{
        padding: 1rem 1.5rem;
    }

    #netease_container footer{
        bottom: 3rem;
    }
    
    #netease_container footer ul li{
        gap: 0.7rem;
        margin: 1rem 0rem;
    }
}


@media (max-width:650px) {
    #logo_img{
        gap: 0rem;
        font-size: smaller;
    }

    #netease_main{
        justify-content: center;
    }

    #netease_main form{
        width: 70%;
    }

    #netease_form_filed{
        padding: 1rem 2rem;
    }

    #netease_container footer{
        bottom: 3rem;
        font-size: 0.6rem;
    }
    
    #netease_container footer ul li{
        gap: 0.5rem;
        margin: 0.5rem 0rem;
    }
}

@media (max-width:500px) {
    #netease_main form{
        width: 90%;
    }

    #netease_container footer{
        display: none;
    }
}

@media (max-width:400px) {
    #logo_img span{
        display: none;
    }

    #netease_container{
        padding: 1rem 0rem;
    }

    #netease_main form{
        width: 100%;
    }

    #netease_form_filed{
        padding: 1rem 1rem;
    }

    #netease_box1, #net_form_mid, #net_form_foot{
        font-size: 0.7rem;
    }
}