#sina_main_panel nav ul{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: white;
    margin: 1.5rem 0rem 0.5rem 0rem;
}

#sina_main_panel nav ul img{
    width: 150px;
}

#sina_main_panel nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
}

#sina_main_panel nav ul li a{
    padding: 0rem 1rem;
    font-size: smaller;
}

#sina_main_panel nav ul li a:not(:last-child){
    border: 1px solid silver;
    border-width: 0px 1px 0px 0px;
}


#sina_form_area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5rem 0rem;
    background-color: #474747;
}

#sina_side_img{
    width: 30%;
}

#sina_form_area form{
    width: 25%;
    min-height: 40vh;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    font-size: smaller;
    border-radius: 5px;
    overflow: hidden;
}

#sina_form_area form ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#sina_form_area form ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0.2rem;
    color: #22a6d2;
    cursor: pointer;
}

#sina_form_area form ul li:last-child{
    background-color: #f8f8f8;
    color: black;
}

#sina_form_conatiner{
    padding: 1rem 2rem;
}

#sina_form_conatiner input{
    width: 100%;
    border: none;
    border: 1px solid silver;
    padding: 0.8rem 0.5rem;
    margin: 0.5rem 0rem;
}

#sina_form_conatiner input:focus{
    box-shadow: 0px 0px 2px #0882ab inset !important;
}

#sina_form_mid{
    text-align: right;
    color: #0882ab;
}

#sina_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0rem 1rem 0rem;
}

#sina_btn_container button, #sina_btn_container a{
    padding: 0.8rem 0.2rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

#sina_btn_container button{
    background-color: rgba(8, 130, 171, 0.9);
    color: white;
}

#sina_btn_container button:hover{
    background-color: rgba(8, 130, 171, 1);
}

#sina_btn_container a{
    border: 1px solid silver;
}

#sina_btn_container a:hover{
    border: 1px solid #0882ab;
}

#sina_logo_mid{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    color: #0882ab;
}

#sina_logo_mid a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sina_logo_mid a img{
    height: 20px;
}

#sina_form_foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
    color: #0882ab;
}

#sina_form_foot img{
    height: 40px;
}

#sina_main_panel footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.7rem;
    color: grey;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    font-weight: 300;
    list-style: none;
    font-family: monospace;
}

#sina_main_panel footer ul li a{
    padding: 0rem 0.5rem;
}

#sina_main_panel footer ul li a:not(:last-child){
    border: 1px solid silver;
    border-width: 0px 1px 0px 0px;
}

#sina_main_panel footer ul li a:hover{
    text-decoration: underline;
}

/*  */

@media (max-width:1030px) {
    #sina_form_area{
        padding: 10rem 0rem;
    }

    #sina_form_area form{
        width: 40%;
        min-height: 30vh;
    }
}

@media (max-width:900px) {
    #sina_form_area form{
        width: 50%;
    }
}

@media (max-width:800px) {
    #sina_form_area form{
        width: 55%;
    }
}

@media (max-width:650px) {
    #sina_main_panel nav ul li a{
        padding: 0rem 0.5rem;
        font-size: 0.8rem;
    }

    #sina_side_img{
        width: 0%;
        display: none;
    }

    #sina_form_area form{
        width: 70%;
    }
}

@media (max-width:500px) {
    #sina_main_panel nav ul{
        justify-content: left;
        margin-left: 0.5rem;
    }

    #sina_main_panel nav ul li{
        display: none;
    }

    #sina_form_area{
        padding: 5rem 0rem;
    }   

    #sina_form_area form{
        width: 90%;
    }

    #sina_main_panel footer ul{
        font-size: 0.6rem;
        gap: 0.5rem;
    }

    #sina_main_panel footer ul li a{
        padding: 0rem 0.3rem;
    }

    #sina_form_foot{
        flex-wrap: wrap;
    }
}

@media (max-width:400px) {
    #sina_form_area{
        padding: 3rem 0rem;
    }

    #sina_form_area form{
        width: 95%;
    }

    #sina_form_conatiner{
        padding: 1rem 0.5rem;
    }
}