#nav_263_page{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

#nav_263_page nav ul{
    list-style: none;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}

#nav_263_logo img{
    width: 190px;
}

#nav_263_page nav ul li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: smaller;
}

#nav_263_page nav ul li a:hover{
    color: #1067ba;
}

#main_263_page{
    background-color: #1067ba;
    background-image: url(../pages/263/side_bar.png);
    background-position:left;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4rem 15rem;
}

#main_263_page form{
    width: 35%;
    min-height: 55vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px grey;
    overflow: hidden;
    position: relative;
}

#main_263_page form ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main_263_page form ul li{
    width: 100%;
    text-align: center;
    padding: 1rem 0.2rem;
}

#main_263_page form ul li:last-child{
    background-color: silver;
    color: grey;
}

#main_263_page form ul li:hover{
    cursor: pointer;
    color: black;
}

#qr_263_img{
    float: right;
    margin: 0.3rem;
}

#main_263_page aside{
    padding: 1rem 2rem;
}

.inputs_263_container div{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0rem;
    border: 2px solid silver;
}

.inputs_263_container div img{
    width: 20px;
}

.inputs_263_container div input{
    width: 100%;
    border: none;
}

#chcek_263_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

#chcek_263_box span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#form_263_btn button{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0.2rem;
    font-size: large;
    margin: 1rem 0rem;
    background-color: rgba(16, 103, 186, 0.8);
    color: white;
    border-radius: 5px;
}

#form_263_btn button:hover{
    background-color: rgba(16, 103, 186, 0.9);
}

#foot_263_form{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 1rem;
    font-size: smaller;
    background-color: rgba(192, 192, 192, 0.5);
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_263_page footer{
    text-align: center;
    font-size: smaller;
    color: grey;
    padding: 1rem 0.2rem;
}

#nav_263_page footer ul li{
    margin: 0.5rem 0rem;
}

#nav_263_page footer ul li:first-child a{
    padding: 0rem 0.7rem;
}

#nav_263_page footer ul li:first-child a:not(:last-child){
    border: 1px solid grey;
    border-width: 0px 1px 0px 0px;
}

/*  */

@media (max-width:1030px) {
    #main_263_page{
        min-height: 40vh;
        padding: 2rem 5rem;
    }
    
    #main_263_page form{
        width: 50%;
        min-height: 30vh;
    }
}

@media (max-width:900px) {
    #main_263_page{
        padding: 2rem 1rem;
    }
    
    #main_263_page form{
        width: 55%;
        min-height: 35vh;
    }
}

@media (max-width:650px) {
    #main_263_page{
        padding: 4rem 1rem;
    }
    
    #main_263_page form{
        width: 70%;
    }

    #main_263_page aside{
        padding: 1rem;
    }
}

@media (max-width:500px) {
    #nav_263_page nav ul{
        justify-content: left;
    }

    #nav_263_page nav ul img{
        padding: 1rem;
    }

    #nav_263_page nav ul li{
        display: none;
    }

    #main_263_page{
        padding: 2rem 0.5rem;
        justify-content: center;
        min-height: 60vh;
    }
    
    #main_263_page form{
        width: 90%;
        min-height: 45vh;
    }

    #main_263_page aside{
        padding: 1rem;
    }

    #nav_263_page footer{
        font-size: 0.6rem;
    }
}

@media (max-width:400px) {
    #main_263_page{
        min-height: 80vh;
    }
    
    #main_263_page form{
        width: 98%;
        min-height: 50vh;
    }

    #main_263_page aside{
        padding: 1rem 0.5rem;
    }

    #nav_263_page footer{
        display: none;
    }
}